body {
	font-family: 'Open Sans', sans-serif;
} 
.checked{
	text-decoration:line-through;
	
}
/* #listCollumn {
	
}
#listTitle {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 30px;
}
.dynamicTitle {
	margin-bottom: 10px;	
}
.dynamicTitle span{
	font-family: 'EB Garamond', serif;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 30px;
}
.newtitle {
	margin-top: auto;
	margin-bottom: auto;	
	height: 35px;
	margin-left: -20%;
	margin-right: 20%;
}
#task-menu{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
#current-title {
	font-family: 'EB Garamond', serif;
	font-size: 40px;
}
.checky{
	width: 15px;
	height: 15px;
}
 */